<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <h1>Devices</h1>
    <a href="{% url 'core:index' %}">Back to Home</a>
    <ul>
        {% for device in devices %}
        <li>{{ device.name }} ({{ device.status }}) - {{ device.type }}</li>
        {% endfor %}
    </ul>
</body>
</html>
